<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma liste de tâche</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <header>
        <h1>Bienvenue sur Task List</h1>
    </header>
    <div class="navbar">
    <div class="navbar-right">
    <a style="margin-right: 10px;" href="{{ url_for('profile', user_id=session['user_id']) }}"><i class="fas fa-home"></i>Bonjour, {{ session['username']}}</a>
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit" ><i class="fas fa-sign-out-alt"></i></button>
    </form>
</div>
</div>
     <main>
         <div id="users" >
            <div class="user"><a href="{{ url_for('index') }}">all</a></div>
             {% if all_users %}
                {% for user in all_users %}
                    <div class="user" data-user-id="{{ user.id }}">
                        <a href="{{ url_for('index', user_id=user.id) }}">{{ user.username }}</a>
                    </div>
                {% endfor %}
             {% endif %}
         </div>
        <div id="tasks">

            <button id="show_form" type="button"><i class="fas fa-plus"></i> Ajouter une tâche</button>

            <form class="form_task" id="form_task" action="{{ url_for('index') }}", method="POST">

                <label for="tasktitle">Titre :</label>
                <input type="text" name="title" id="tasktitle" placeholder="Titre de ma tâche" required>

                <label for="taskcontent">Contenu :</label>
                <textarea name="content" id="taskcontent" placeholder="Contenu" required></textarea>

                <label for="taskdate">Date :</label>
                <input type="date" name="date" id="taskdate" required>
                <input type="submit" value="Ajouter">
            </form>
            {% if all_tasks %}
                {% for task in all_tasks %}
                    <div class="task" data-content="{{ task.content }}, a réalisé le {{ task.date_task }} par {{ task.username }}">{{ task.title }}
                        <a href="{{ url_for('update', task_id=task.id) }}" class="btn_update_task"><i class="fas fa-pen"></i></a>
                        <a href="{{ url_for('delete', task_id=task.id) }}" class="btn_delete_task" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette tâche ?');">
    <i class="fas fa-trash"></i>
</a></div>
                {% endfor %}
            {% else %}
                <p style="font-size: 16px; text-align: center;">Plus rien à faire</p>
                <div class="tenor-gif-embed" data-postid="17005878" data-share-method="host" data-aspect-ratio="1.73913" data-width="100%"><a href="https://tenor.com/view/cristiano-sayajin-saiyan-power-cristiano-ronaldo-soccer-player-gif-17005878">Cristiano Sayajin Saiyan GIF</a>from <a href="https://tenor.com/search/cristiano+sayajin-gifs">Cristiano Sayajin GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

            {% endif %}
        </div>
        <div id="task-content" class="task-content" ></div>

    </main>
     <script>
        document.querySelectorAll('.user').forEach(user => {
            user.addEventListener('click', function() {
                const userId = this.dataset.userId;
                if (userId) {
                    window.location.href = `/index?user_id=${userId}`;
                }
            });
        });

        const showFormButton = document.getElementById('show_form');
        const taskForm = document.getElementById('form_task');

        // Ajouter un écouteur d'événement au clic sur le bouton
        showFormButton.addEventListener('click', function() {
            // Vérifier si le formulaire est caché
            if (taskForm.style.display === 'none') {
                // Afficher le formulaire
                taskForm.style.display = 'block';
            } else {
                // Cacher le formulaire
                taskForm.style.display = 'none';
            }
        });

        document.querySelectorAll('.task').forEach(task => {
            task.addEventListener('click', function() {
                const dataContent = this.dataset.content;

                // Afficher le contenu dans la zone dédiée
                const taskContentDiv = document.getElementById('task-content');
                taskContentDiv.innerHTML = `<p>${dataContent}</p>`;
                taskContentDiv.style.display = 'block'
            });
        });


        document.addEventListener('DOMContentLoaded', function() {
        const updateTaskLinks = document.querySelectorAll('.btn_update_task');

        updateTaskLinks.forEach(link => {
            link.addEventListener('click', function(event) {
             event.preventDefault(); // Empêcher le comportement par défaut du lien

            // Récupérer l'URL du lien
            const url = this.getAttribute('href');

            // Ouvrir une fenêtre contextuelle avec l'URL spécifiée
            window.open(url, '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=600,height=400');

        });
    });
});

    </script>

    <footer>
        <p>&copy; 2024 Mon site web. TP Python Alexis EVENO</p>
    </footer>
</body>
</html>
